@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-nunito;
}

body {
  overflow-x: hidden;
}

body.dark {
  background-color: black;
}

:root:has(.no-doc-scroll) {
  overflow: hidden;
}
